body {
  margin: 0;
  font-family: sans-serif;
  background-color: aqua;
  background-image: url(Jowhareh_galleries_11_poster_e5ac6d86-7e0f-412b-93e9-ecd984510d33.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-box {
  background-color: rgb(25, 0, 0);
  color: white;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
}


.menu {
  margin-top: 60px; 
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 5px 0; 
  margin: 0;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu a {
  color: rgb(255, 153, 0);
  text-decoration: none;
  background: none; 
  padding: 5px;
  font-weight: bold;
}

.menu a:hover {
  color: aliceblue;
  cursor: pointer;
}


.bottom-boxes {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 0; 
  padding: 0 5px 5px 5px; 
}

.small-box {
  background-color: black;
  color: rgb(185, 185, 185);
  flex: 1;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  display: block;
  border-radius: 20px;
}

.small-box:hover {
  background-color: rgb(130, 130, 130);
}

a {
  color: rgb(181, 219, 252);
}
.bottom-boxes a:hover{
  color: rgb(42, 69, 165);
}

footer {
  color: rgb(185, 185, 185);
  display: block;
}

footer:hover {
  color: rgb(130, 130, 130);
}
